body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('./assets/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('./assets/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('./assets/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

input {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/roboto.ttf')  format('truetype');
}

@font-face {
  font-family: 'VCR';
  src: url('./assets/vcr.ttf')  format('truetype');
}

@font-face {
  font-family: 'Code39';
  src: url('./assets/code39.ttf')  format('truetype');
}
